{% extends 'MovibeBackendBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>HORAIRES<small>Liste</small></h1>
    </div>

    <div class="row">
        <div class="big-icons-buttons col-md-6">
            <a class="btn btn-primary" href="{{ path('movibe_backend_horaire_new') }}"><i class="fa fa-plus"></i>Ajouter</a>
        </div>
        <div class="navigation dataTables_paginate col-md-6" style="text-align: right">
            {{ knp_pagination_render(horaires) }}
        </div>
    </div>


    <div class="row" id="powerwidgets">
        <div class="col-md-12 bootstrap-grid">
            <div class="powerwidget purple" id="nestable-4" data-widget-editbutton="false">
                <header>
                    <h2>Nestable<small>Even More Styling</small></h2>
                </header>
                <div class="inner-spacer">
                    <div class="dd nestable4" id="nestable4">
                        <ol class="dd-list">
                            <li class="dd-item task-item" data-id="13">
                                <div class="dd-handle task-handle"></div>
                                <div class="task-content header">New Tasks</div>
                                <ol class="dd-list new">
                                    {% for horaire in horaires %}
                                        <li class="dd-item task-item" data-id="{{ horaire.id }}">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="dd-handle task-handle"></div>
                                                    <div class="task-content">
                                                        <h4><span class="task">Horaire ID: {{ horaire.id }}</span></h4>
                                                        <p class="desc">Nombre de séances: {{ horaire.heures|length }}</p>
                                                        <small><i class="fa fa-clock-o"></i>
                                                        {% for heure in horaire.heures %}
                                                            {{ heure.heure }} |
                                                        {% endfor %}
                                                        </small></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="big-icons-buttons">
                                                        <div class="btn-group">
                                                            <a class="btn btn-info" href="{{ path('movibe_backend_horaire_show', { 'id': horaire.id }) }}"><i class="fa fa-eye"></i> View </a>
                                                            <a class="btn btn-warning" href="{{ path('movibe_backend_horaire_edit', { 'id': horaire.id }) }}"><i class="fa fa-pencil"></i> Edit</a>
                                                            <a class="btn btn-danger" href="#soc{{ horaire.id }}" role="button" data-toggle="modal"><i class="fa fa-times"></i> Delete</a>
                                                            <div id="soc{{ horaire.id }}" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-sm">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                            <h4 class="modal-title">SUPPRESSION</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p>Voulez-vous supprimer cette horaire?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-primary remove" data-dismiss="modal" aria-hidden="true" data-url="{{ path('movibe_backend_horaire_delete', { 'id': horaire.id }) }}">Oui</button>
                                                                            <button class="btn btn-default cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {%  endfor %}
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts 'bundles/movibebackend/js/vendors/datatables/jquery.dataTables.min.js'
    'bundles/movibebackend/js/vendors/bootstrap-progress-bar/*'
    'bundles/movibebackend/js/vendors/animation/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function(){
            $(".remove").click(function(e){
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    url:btn.attr('data-url'),
                    dataType: "json"})
                        .done(function(data){
                            //console.log('ok');
                            btn.parents('tr').fadeOut(function(){
                                $(this).remove();
                            });
                            $(".cancel").click();
                            $("#message").append("<p class='callout callout-info'>L'horaire sélectionné a été supprimé</p>");
                            //var nb = parseInt($(".NbHoraires").html());
                            //nb = nb - 1;
                            //$(".NbHoraires").html(nb);
                        });
                return false;
            })
        });
    </script>

{% endblock %}
