{% extends 'MovibeBackendBundle::layout.html.twig' %}

{%  import "MovibeBackendBundle:Macro:functions.html.twig" as allFunctions %}
{% form_theme edit_form 'MovibeBackendBundle:Form:fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/movibebackend/css/vendors/yearpicker/*' filter="cssrewrite,?yui_css"%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>FILMS<small>Création</small></h1>
    </div>
    <a href="#" class="empty-local-storage btn btn-danger"><i class="fa fa-eraser"></i> Clear all storage</a>
    {{ form_start(edit_form,{'method':'POST','role':'form','attr':{'novalidate':'novalidate','class':'form-horizontal'} } ) }}
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one-left" data-toggle="tab"><i class="entypo-book-open"></i> A propos </a></li>
            <li><a href="#two-left" data-toggle="tab"><i class="entypo-picture"></i> Images </a></li>
            <li><a href="#three-left" data-toggle="tab"><i class="entypo-newspaper"></i> Presses </a></li>
            <li><a href="#four-left" data-toggle="tab"><i class="fa fa-toggle-right"></i> Médias </a></li>
            <li><a href="#five-left" data-toggle="tab"><i class="entypo-users"></i> Casting </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="one-left">
                <div class="row" id="powerwidgets">
                    <div class="col-md-12 bootstrap-grid">
                        <div class="powerwidget dark-cold-grey" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                            <header>
                                <h2>Sample widget<small>Clear</small></h2>
                            </header>
                            <div class="inner-spacer">
                                <fieldset>
                                    <legend>Form Name</legend>
                                    <div class="form-group">
                                        {{ form_label(edit_form.titre,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.titre,{'id':'titre','attr': {'placeholder':'Titre', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.titre) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(edit_form.titreOriginal,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.titreOriginal,{'id':'titreOriginal','attr': {'placeholder':'Titre original', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.titreOriginal) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.dateSortie,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.dateSortie,{'id':'dateSortie','attr': {'placeholder':'Date de sortie', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.dateSortie) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.synopsis,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.synopsis,{'id':'synopsis','attr': {'placeholder':'Synopsis', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.synopsis) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.bandeOriginale,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.bandeOriginale,{'id':'bandeOriginale','attr': {'placeholder':'Bande Originale', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.bandeOriginale) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.budget,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.budget,{'id':'budget','attr': {'placeholder':'Budget', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.budget) }}
                                        <div class="col-md-2">
                                            {{ form_widget(edit_form.devise,{'id':'devise','attr': {'placeholder':'Devise', 'class':'form-control input-md'}} )}}
                                            <span class="help-block">Devise du budget</span>
                                        </div>
                                        {{ form_errors(edit_form.devise) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.anneeProduction,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.anneeProduction,{'id':'anneeProduction','attr': {'placeholder':'Année de production', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.anneeProduction) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.duree,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.duree,{'id':'duree','attr': {'placeholder':'Durée', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.duree) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.visible,"A l'affiche",{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.visible,{'id':'visible','attr': {'class':'visible'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.visible) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.visa,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.visa,{'id':'visa','attr': {'placeholder':'Visa', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.visa) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.couleur,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.couleur,{'id':'couleur','attr': {'placeholder':'Couleur', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.couleur) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.pays,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.pays,{'id':'pays','attr': {'placeholder':'Pays', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.pays) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.genres,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.genres,{'id':'genres','attr': {'placeholder':'GenreS', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.genres) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.typeFilm,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.typeFilm,{'id':'typeFilm','attr': {'placeholder':'Type de film', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.typeFilm) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(edit_form.langue,null,{'label_attr': {'class':'col-md-2 control-label'}}) }}
                                        <div class="col-md-10">
                                            {{ form_widget(edit_form.langue,{'id':'langue','attr': {'placeholder':'Langue', 'class':'form-control input-md'}} )}}
                                        </div>
                                        {{ form_errors(edit_form.langue) }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="two-left">
                <div class="row" id="powerwidgets">
                    <div class="col-md-12 bootstrap-grid">
                        <div class="powerwidget pink" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                            <header>
                                <h2>Sample widget<small>Clear</small></h2>
                            </header>
                            <div class="inner-spacer ">
                                <fieldset>
                                    <legend>Form Name</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-hover margin-0px orb-form images" data-prototype="{{ allFunctions.image_prototype(edit_form.images.vars.prototype)|e }}">
                                                <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Nom</th>
                                                    <th>Caractèristiques</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab_image">
                                                {% for image in edit_form.images %}
                                                    <tr class="old-row">
                                                        {{ allFunctions.image_prototype(image, false) }}
                                                    </tr>
                                                {%  endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                        {{ form_errors(edit_form.images) }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="three-left">
                <div class="row" id="powerwidgets">
                    <div class="col-md-12 bootstrap-grid">
                        <div class="powerwidget purple" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                            <header>
                                <h2>Sample widget<small>Clear</small></h2>
                            </header>
                            <div class="inner-spacer ">
                                <fieldset>
                                    <legend>Form Name</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-hover margin-0px orb-form critiques" data-prototype="{{ allFunctions.critique_prototype(edit_form.critiques.vars.prototype)|e }}">
                                                <thead>
                                                <tr>
                                                    <th>Presse</th>
                                                    <th>Note</th>
                                                    <th>Commentaire</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab_critique">
                                                {% for critique in edit_form.critiques %}
                                                    <tr class="old-row">
                                                        {{ allFunctions.critique_prototype(critique) }}
                                                    </tr>
                                                {%  endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {{ form_errors(edit_form.critiques) }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="four-left">
                <div class="row" id="powerwidgets">
                    <div class="col-md-12 bootstrap-grid">
                        <div class="powerwidget green" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                            <header>
                                <h2>Sample widget<small>Clear</small></h2>
                            </header>
                            <div class="inner-spacer ">
                                <fieldset>
                                    <legend>Form Name</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-hover margin-0px orb-form medias" data-prototype="{{ allFunctions.media_prototype(edit_form.medias.vars.prototype)|e }}">
                                                <thead>
                                                <tr>
                                                    <th>URL</th>
                                                    <th>Type</th>
                                                    <th>Descriptif</th>
                                                    <th>Poids</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab_video">
                                                {% for media in edit_form.medias %}
                                                    <tr  class="old-row">
                                                        {{ allFunctions.media_prototype(media) }}
                                                    </tr>
                                                {%  endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {{ form_errors(edit_form.medias) }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="five-left">
                <div class="row" id="powerwidgets">
                    <div class="col-md-12 bootstrap-grid">
                        <div id="casting" class="powerwidget orange" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-url="{{ path("movibe_backend_personne_select", {'id': 1}) }}">
                            <header>
                                <h2>Sample widget<small>Clear</small></h2>
                            </header>
                            <div class="inner-spacer">
                                <fieldset>
                                    <legend>Form Name</legend>
                                    <div class="tabbable tabs-left">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#one-left-1" data-toggle="tab"><i class="entypo-user"></i> Acteurs </a></li>
                                            <li><a href="#two-left-1" data-toggle="tab"><i class="fa fa-bullhorn"></i> Réalisateurs </a></li>
                                            <li><a href="#three-left-1" data-toggle="tab"><i class="entypo-feather"></i> Scénaristes </a></li>
                                            <li><a href="#four-left-1" data-toggle="tab"><i class="fa fa-money"></i> Producteurs </a></li>
                                            <li><a href="#five-left-1" data-toggle="tab"><i class="entypo-vcard"></i> Equipe Technique </a></li>
                                            <li><a href="#six-left-1" data-toggle="tab"><i class="fa fa-suitcase"></i> Distributeurs </a></li>
                                            <li><a href="#seven-left-1" data-toggle="tab"><i class="entypo-note"></i> Compositeurs </a></li>
                                            <li><a href="#eight-left-1" data-toggle="tab"><i class="fa fa-building"></i> Sociétés </a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="one-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Acteurs/Actrices<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'acteur</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form acteurs" data-prototype="{{ allFunctions.metier_acteur_prototype(edit_form.acteurs.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>Nom</th>
                                                                                    <th>Rôle</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_acteurs">
                                                                                {% for acteur in edit_form.acteurs %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.metier_acteur_prototype(acteur,false) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        {{ form_errors(edit_form.acteurs) }}
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="two-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Réalisateurs/Réalisatrices<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'un réalisateur</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form realisateurs" data-prototype="{{ allFunctions.metier_casting_prototype(edit_form.realisateurs.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>Nom</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_realisateurs">
                                                                                {% for realisateur in edit_form.realisateurs %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.metier_casting_prototype(realisateur,false) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="three-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Scénaristes<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'un scénariste</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form scenaristes" data-prototype="{{ allFunctions.metier_casting_prototype(edit_form.scenaristes.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>Nom</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_scenaristes">
                                                                                {% for scenariste in edit_form.scenaristes %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.metier_casting_prototype(scenariste,false) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="four-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Producteurs<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'un producteur</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form producteurs" data-prototype="{{ allFunctions.metier_casting_prototype(edit_form.producteurs.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>Nom</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_producteurs">
                                                                                {% for producteur in edit_form.producteurs %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.metier_casting_prototype(producteur,false) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="five-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Equipe Technique<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'un membre de l'équipe technique</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form equipe_tech" data-prototype="{{ allFunctions.metier_casting_prototype(edit_form.equipeTech.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>Nom</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_equipe_tech">
                                                                                {% for equipe_tech in edit_form.equipeTech %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.metier_casting_prototype(equipe_tech,false) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="six-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Distributeurs<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'un distributeur</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form distributeurs" data-prototype="{{ allFunctions.metier_casting_prototype(edit_form.distributeurs.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>Nom</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_distributeurs">
                                                                                {% for distributeur in edit_form.distributeurs %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.metier_casting_prototype(distributeur,false) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="seven-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Compositeurs<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'un compositeur</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form compositeurs" data-prototype="{{ allFunctions.metier_casting_prototype(edit_form.compositeurs.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>Nom</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_compositeurs">
                                                                                {% for compositeur in edit_form.compositeurs %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.metier_casting_prototype(compositeur,false) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="eight-left-1">
                                                <div class="row" id="powerwidgets">
                                                    <div class="col-md-12 bootstrap-grid">
                                                        <div class="powerwidget dark-blue" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                                                            <header>
                                                                <h2>Sociétés<small>Clear</small></h2>
                                                            </header>
                                                            <div class="inner-spacer">
                                                                <fieldset>
                                                                    <legend>Ajout d'une société</legend>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            <table class="table table-striped table-hover margin-0px orb-form filmSocieteMetiers" data-prototype="{{ allFunctions.film_societe_metier_prototype(edit_form.filmSocieteMetiers.vars.prototype)|e }}">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>Nom</th>
                                                                                    <th>Métier</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody id="tab_film_societe_metiers">
                                                                                {% for societe in edit_form.filmSocieteMetiers %}
                                                                                    <tr class="old-row">
                                                                                        {{ allFunctions.film_societe_metier_prototype(societe) }}
                                                                                    </tr>
                                                                                {%  endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="form-group">
                <div class="well" style="max-width: 100%; margin: 0 auto 10px;">
                    {{ form_widget(edit_form.submit,{'id':'submit','attr': {'class':'btn btn-primary btn-lg btn-block'}} )}}
                </div>
            </div>
        </div>
    </div>


    {{ form_widget(edit_form._token) }}
    </form>

    <div class="big-icons-buttons">
        <a class="btn btn-info" href="{{ path('movibe_backend_film') }}"><i class="fa fa-mail-reply"></i>Retour à la liste</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts 'bundles/movibebackend/js/vendors/yearpicker/mootools-core.js'
    'bundles/movibebackend/js/vendors/yearpicker/mootools-more.js'
    'bundles/movibebackend/js/vendors/yearpicker/picker.js'
    'bundles/movibebackend/js/vendors/yearpicker/picker.attach.js'
    'bundles/movibebackend/js/vendors/yearpicker/picker.date.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

    window.addEvent('domready', function(){
        myPicker = new Picker.Date($$('#anneeProduction'), {
            pickOnly: 'years',
            format: '%Y'
        });
    });

    $(document).ready(function(){
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les images
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_image = $('.images');
        var nbImg = $('.tdFileImg').length;
        var linkimages = $('<a id="add_img" href="#" data-id="0" class="btn btn-info btn-xs" data-img=' + nbImg + '>Ajouter une image</a>');
        //container_image.append(linkimages);
        container_image.before(linkimages);

        $(".old-row").each(function(){
            addLinkRemove($(this));
        });


        linkimages.click(function(e){
            e.preventDefault();
            var prototype = container_image.attr('data-prototype');
            var nbform = $('#tab_image').children().length;
            var newform = prototype.replace(/__name__/g, nbform);

            var form = $('<tr class="trImage" hidden>').append(newform);


            addLinkRemove(form);

            $('#tab_image').append(form);

            var input = $(".fileImage").last();

            input.trigger('click');

        });


        $(document).delegate(':file', 'change', function() {
            var input = $(".fileImage").last();
            readURL(input);
        });

        function readURL(input) {
            if (input[0].files && input[0].files[0]) {

                var reader = new FileReader();
                reader.onload = function(e) {
                    $('.previewPhoto').last().attr('src', e.target.result);
                }

                reader.readAsDataURL(input[0].files[0]);

                input.parents('.tdFileImg').next('.tdNameImg').children('.NomImg').val(input[0].files[0].name);
                input.parents('.trImage').attr('hidden',false);

                var nbImg = $('#add_img').attr('data-img');
                nbImg++;

                $('#add_img').attr('data-img',nbImg);

                if (nbImg == 1)
                {
                    $('.PromoImg').trigger('click');
                }
            }
        };

        $(document).delegate('.PromoImg ', 'click', function() {
            $this = $(this);
            $(".PromoImg").each(function(){
                if (!$this.is($(this)))
                    $(this).attr('checked',false);
            });

        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les critiques
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_critique = $('.critiques');
        var linkcritiques = $('<a id="add_crit" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter une critique</a>');
        container_critique.before(linkcritiques);

        $('.rating label').append('<i class="fa fa-star"></i>');

        container_critique.children('li').each(function(){
            addLinkRemove($(this));
        });

        linkcritiques.click(function(e){
            e.preventDefault();
            var prototype = container_critique.attr('data-prototype');
            var nbform = $('#tab_critique').children().length;
            var newform = prototype.replace(/__name__/g, nbform);

            var form = $('<tr>').append(newform);
            form.find('.rating').find('label').append('<i class="fa fa-star"></i>');

            addLinkRemove(form);

            $('#tab_critique').append(form);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les medias
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_medias = $('.medias');
        var linkmedias = $('<a id="add_vid" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter une vidéo</a>');
        container_medias.before(linkmedias);

        container_medias.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkmedias.click(function(e){
            e.preventDefault();
            var prototype = container_medias.attr('data-prototype');
            var nbform = $('#tab_video').children().length;
            var newform = prototype.replace(/__name__/g, nbform);

            newform = $('<tr>').append(newform);

            container_medias.append(newform);

            addLinkRemove(newform);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les acteurs
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_acteurs = $('.acteurs');
        var linkacteurs = $('<a id="add_acteur" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter un acteur</a>');
        container_acteurs.before(linkacteurs);

        container_acteurs.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkacteurs.click(function(e){
            e.preventDefault();
            var prototype = container_acteurs.attr('data-prototype');
            var nbform = $('#tab_acteurs').children().length;

            addPersonne(prototype, nbform, container_acteurs);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les réalisateurs
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_realisateurs = $('.realisateurs');
        var linkrealisateurs = $('<a id="add_realisateur" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter un rélisateur</a>');
        container_realisateurs.before(linkrealisateurs);

        container_realisateurs.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkrealisateurs.click(function(e){
            e.preventDefault();
            var prototype = container_realisateurs.attr('data-prototype');
            var nbform = $('#tab_realisateurs').children().length;

            addPersonne(prototype, nbform, container_realisateurs);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les scénaristes
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_scenaristes = $('.scenaristes');
        var linkscenaristes = $('<a id="add_scenariste" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter un scénariste</a>');
        container_scenaristes.before(linkscenaristes);

        container_scenaristes.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkscenaristes.click(function(e){
            e.preventDefault();
            var prototype = container_scenaristes.attr('data-prototype');
            var nbform = $('#tab_scenaristes').children().length;

            addPersonne(prototype, nbform, container_scenaristes);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les producteurs
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_producteurs = $('.producteurs');
        var linkproducteurs = $('<a id="add_producteur" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter un producteur</a>');
        container_producteurs.before(linkproducteurs);

        container_producteurs.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkproducteurs.click(function(e){
            e.preventDefault();
            var prototype = container_producteurs.attr('data-prototype');
            var nbform = $('#tab_producteurs').children().length;

            addPersonne(prototype, nbform, container_producteurs);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour l'équipe technique
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_equipe_tech = $('.equipe_tech');
        var linkequipeTech = $('<a id="add_equipe_tech" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter un membre</a>');
        container_equipe_tech.before(linkequipeTech);

        container_equipe_tech.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkequipeTech.click(function(e){
            e.preventDefault();
            var prototype = container_equipe_tech.attr('data-prototype');
            var nbform = $('#tab_equipe_tech').children().length;

            addPersonne(prototype, nbform, container_equipe_tech);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les distributeurs
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_distributeurs = $('.distributeurs');
        var linkdistributeurs = $('<a id="add_distributeur" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter un distributeur</a>');
        container_distributeurs.before(linkdistributeurs);

        container_distributeurs.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkdistributeurs.click(function(e){
            e.preventDefault();
            var prototype = container_distributeurs.attr('data-prototype');
            var nbform = $('#tab_distributeurs').children().length;

            addPersonne(prototype, nbform, container_distributeurs);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les compositeurs
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_compositeurs = $('.compositeurs');
        var linkcompositeurs = $('<a id="add_compositeur" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter un compositeur</a>');
        container_compositeurs.before(linkcompositeurs);

        container_compositeurs.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkcompositeurs.click(function(e){
            e.preventDefault();
            var prototype = container_compositeurs.attr('data-prototype');
            var nbform = $('#tab_compositeurs').children().length;

            addPersonne(prototype, nbform, container_compositeurs);
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Traitement pour les Film_Societe_Metiers
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var container_film_societe_metiers = $('.filmSocieteMetiers');
        var linkfilmSocieteMetiers = $('<a id="add_compositeur" href="#" data-id="0" class="btn btn-info btn-xs">Ajouter d\'une société</a>');
        container_film_societe_metiers.before(linkfilmSocieteMetiers);

        container_film_societe_metiers.children('tr').each(function(){
            addLinkRemove($(this));
        });

        linkfilmSocieteMetiers.click(function(e){
            e.preventDefault();
            var prototype = container_film_societe_metiers.attr('data-prototype');
            var nbform = $('#tab_film_societe_metiers').children().length;

            addPersonne(prototype, nbform, container_film_societe_metiers);
        });

        function addPersonne(fx_prototype, fx_nbform, fx_container)
        {
            var newform = fx_prototype.replace(/__name__/g, fx_nbform);

            newform = $('<tr>').append(newform);

            fx_container.append(newform);

            addLinkRemove(newform);
        }

        $(document).delegate('.personne', 'change', function() {
            var personne = $(this);
            var lien = $('#casting').attr('data-url');
            var img = personne.parent().prev('td').children('img');

            lien = lien.replace(1, personne.val());
            $.ajax({
                url:lien,
                dataType: "json"})
                    .done(function(data){
                        var lien = data.data;

                        if (lien)
                        {
                            img.attr("src","/Movibe/web/" + lien);
                        }
                        return true;
                    });

            img.attr("src","http://placehold.it/200x200");
            return false;
        })

        function addLinkRemove(form)
        {
            var removeLink = $('<div class="big-icons-buttons"><div class="btn-group"><a class="btn btn-default btn-photo-del" href="#soc"><i class="fa fa-times"></i> Delete</a></div></div>');
            removeLink = $('<td>').append(removeLink);
            form.append(removeLink);

            removeLink.click(function(e){
                e.preventDefault();
                form.remove();
            })
        };



    });

    </script>


{% endblock %}





